#box {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #FBF2E9;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}
.flex * {
    flex-grow: 0.1;
}
 
table, th, td { border: 1px solid gray; }
.hide { display: none; }
