* {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffefdc;
}

.mission {
  width: 100vw;
}

.boxText {
  width: 600px;
  height: 250px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #492E71;

  background: #FFFACD;
  box-shadow: 0 14px 28px #ffd4a0, 0 10px 10px rgba(0, 0, 0, 0.22);
}